.correos-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.correos-container h1 {
	color: var(--text-color);
	margin-bottom: 2rem;
}

.correos-buttons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.correos-buttons button {
	padding: 1rem 2rem;
	font-size: 1rem;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.btn-plantilla {
	background-color: var(--accent-color);
}

.btn-nuevo {
	background-color: var(--success-color);
	color: black;
}